/* line 1, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

/* line 19, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

/* line 37, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; }

/* line 4, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
.container {
  max-width: 69.375rem;
  margin: 0 auto; }
  /* line 8, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .container--pall {
    text-align: start;
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem; }
    @media (max-width: 39.9375em) {
      /* line 8, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .container--pall {
        text-align: center; } }
    @media (min-width: 64em) {
      /* line 8, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .container--pall {
        padding-top: 6rem;
        padding-bottom: 6rem; } }
/* line 23, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
.feature {
  background-color: white;
  text-align: center; }
  @media (min-width: 40em) {
    /* line 23, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
    .feature {
      text-align: left; } }
  /* line 31, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .feature__intro {
    margin-bottom: 3.75rem; }
    /* line 33, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
    .feature__intro p {
      font-family: "Almarai", sans-serif;
      color: #000000;
      font-weight: 400; }
    @media (min-width: 64em) {
      /* line 31, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__intro {
        width: 60%; } }
  @media (min-width: 40em) {
    /* line 43, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
    .feature__grid {
      display: flex;
      flex-wrap: wrap; } }
  /* line 51, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .feature__item {
    padding: 0.9375rem; }
    @media (min-width: 40em) {
      /* line 51, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__item {
        flex: 0 0 50%; } }
    @media (min-width: 64em) {
      /* line 51, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__item {
        flex: 1; } }
  /* line 63, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .feature__icon {
    margin-bottom: 1.875rem; }
    /* line 65, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
    .feature__icon img {
      height: 29vh;
      width: 19rem; }
    @media (min-width: 64em) {
      /* line 63, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__icon {
        margin-bottom: 2.75rem; }
        /* line 71, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
        .feature__icon img {
          width: 27rem;
          height: 49vh; } }
  /* line 79, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .feature__title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Almarai", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.15;
    cursor: pointer;
    color: #2D6D93;
    margin-bottom: 1rem;
    align-content: center; }
    @media (min-width: 64em) {
      /* line 79, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem; } }
    /* line 95, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
    .feature__title a {
      position: relative;
      font-size: 1.125rem;
      color: #000000;
      transition: color 300ms ease-in-out;
      font-weight: 400; }
      /* line 103, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__title a:not(:last-child) {
        margin-right: 20px; }
      /* line 107, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__title a::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, #2D6D93, #5DBD7E);
        opacity: 0;
        transition: opacity 300ms ease-in-out; }
      /* line 119, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
      .feature__title a:hover {
        color: #2D6D93; }
        /* line 122, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
        .feature__title a:hover::before {
          opacity: 1; }
  /* line 130, c:/programming/work/khieer/khieer_/static/scss/Features.scss */
  .feature__description {
    font-size: 0.875rem;
    line-height: 1.5; }
