/* line 1, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

/* line 19, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

/* line 37, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; }

/* line 4, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
.footer {
  background-color: #2D6D93;
  color: white;
  padding: 2.5rem;
  text-align: center; }
  @media (min-width: 64em) {
    /* line 10, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer .container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
      gap: 1rem;
      justify-items: start; } }
  /* line 24, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer a {
    color: white; }
  /* line 28, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer__logo {
    display: inline-block; }
    /* line 30, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__logo img {
      height: auto;
      width: 3.8125rem; }
    @media (max-width: 63.9375em) {
      /* line 28, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__logo {
        margin-bottom: 1.875rem; } }
    @media (min-width: 64em) {
      /* line 28, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__logo {
        grid-area: logo; } }
  @media (max-width: 63.9375em) {
    /* line 44, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__social {
      margin-bottom: 1.875rem; } }
  @media (min-width: 64em) {
    /* line 44, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__social {
      display: flex;
      flex-direction: row; } }
  /* line 54, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer__social a {
    display: inline-block;
    height: 1.25rem; }
    /* line 58, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__social a i {
      font-size: 18px;
      color: #f3f4f6;
      transition: fill 150ms ease-in-out; }
      /* line 62, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__social a i:hover {
        background-color: #5DBD7E; }
    /* line 67, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__social a:hover svg path {
      fill: #5DBD7E; }
  /* line 72, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer__social a:not(:last-child) {
    margin-inline-end: 1rem; }
  /* line 78, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9375rem; }
    @media (min-width: 64em) {
      /* line 78, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__links {
        justify-content: space-between;
        align-items: start; } }
    @media (min-width: 64em) {
      /* line 89, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__links.col1 {
        grid-area: links1; } }
    @media (max-width: 63.9375em) {
      /* line 96, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__links.col2 {
        margin-bottom: 1.875rem; } }
    @media (min-width: 64em) {
      /* line 96, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__links.col2 {
        grid-area: links2; } }
    /* line 107, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__links a {
      line-height: 2.25;
      transition: color 150ms ease-in-out; }
      /* line 111, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__links a:hover {
        color: #5DBD7E; }
  @media (min-width: 64em) {
    /* line 117, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__cta {
      grid-area: cta;
      text-align: right;
      justify-self: end; } }
  @media (max-width: 63.9375em) {
    /* line 125, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
    .footer__cta a.button {
      margin-bottom: 1.875rem; } }
  /* line 134, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
  .footer__copyright {
    font-size: 0.8125rem;
    color: #9698a6; }
    @media (min-width: 64em) {
      /* line 134, c:/programming/work/khieer/khieer_/static/scss/_Footer.scss */
      .footer__copyright {
        grid-area: copyright;
        align-self: end;
        justify-self: end; } }
