/* line 1, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

/* line 19, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

/* line 37, c:/programming/work/khieer/khieer_/static/scss/_Media.scss */
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; }

/* line 6, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
.navbar {
  width: 97%;
  background-color: #2D6D93;
  height: 7vh;
  align-content: center;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between; }
  /* line 17, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
  .navbar .icon {
    font-size: 22px;
    margin-inline: 1.3rem;
    background-color: transparent;
    color: white; }
    /* line 22, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
    .navbar .icon:hover {
      color: #5DBD7E;
      cursor: pointer; }
  /* line 27, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
  .navbar input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: white;
    background-color: transparent;
    color: white; }
  /* line 35, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
  .navbar ::placeholder {
    color: white;
    text-align: center; }
  /* line 40, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
  .navbar .no-outline:focus {
    outline: none; }
  /* line 44, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
  .navbar nav {
    margin-inline: 3.3rem; }
    /* line 47, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
    .navbar nav .search_div {
      order: 1; }
      /* line 48, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
      .navbar nav .search_div form {
        display: inline; }
      /* line 53, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
      .navbar nav .search_div__searchicon {
        color: white; }
        /* line 55, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
        .navbar nav .search_div__searchicon:hover {
          color: #5DBD7E; }
    /* line 60, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
    .navbar nav .container_nav {
      order: 2;
      background-color: inherit; }
      /* line 63, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
      .navbar nav .container_nav ul {
        list-style-type: none;
        margin: 0.1rem;
        padding: 0; }
        /* line 67, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
        .navbar nav .container_nav ul li {
          margin-inline: 0.33rem;
          display: inline; }
          /* line 70, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
          .navbar nav .container_nav ul li a {
            font-family: "Almarai", sans-serif;
            text-decoration: none;
            cursor: pointer;
            color: white;
            font-weight: 500;
            font-size: 13px; }
            /* line 77, c:/programming/work/khieer/khieer_/static/scss/_navbar.scss */
            .navbar nav .container_nav ul li a:hover {
              color: #5DBD7E; }
