/* line 1, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

/* line 19, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

/* line 37, c:/programming/work/khieer/khieer_/static/scss/Media.scss */
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; }

/* line 4, c:/programming/work/khieer/khieer_/static/scss/header.scss */
.NAVcontainer {
  width: 98% !important;
  height: auto; }

/* line 8, c:/programming/work/khieer/khieer_/static/scss/header.scss */
.header {
  display: flex;
  position: relative;
  z-index: 1;
  width: 97% !important;
  height: auto !important; }
  @media (min-width: 64em) {
    /* line 8, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header {
      background-color: white;
      display: flex;
      position: relative;
      z-index: 1;
      width: 100% !important;
      height: auto !important;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-radius: 30px; } }
  /* line 31, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header.open .header__toggle > span:first-child {
    transform: rotate(45deg); }
  /* line 35, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header.open .header__toggle > span:nth-child(2) {
    opacity: 0; }
  /* line 39, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header.open .header__toggle > span:last-child {
    transform: rotate(-45deg); }
  /* line 45, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(#2D6D93, transparent); }
  /* line 55, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header nav {
    position: relative;
    background-color: white;
    margin: 0 auto;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem; }
  /* line 65, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header__logo img {
    width: 6.8125rem;
    height: 3.1rem; }
    @media (min-width: 64em) {
      /* line 65, c:/programming/work/khieer/khieer_/static/scss/header.scss */
      .header__logo img {
        width: auto;
        height: 4.5rem; } }
  /* line 78, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header__toggle > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #2D6D93;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px; }
    /* line 86, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header__toggle > span:not(:last-child) {
      margin-bottom: 5px; }
  /* line 92, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
    height: auto; }
    /* line 103, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header__menu a {
      display: block;
      padding: 0.625rem;
      color: #5DBD7E;
      text-align: center; }
  /* line 113, c:/programming/work/khieer/khieer_/static/scss/header.scss */
  .header__links a {
    position: relative;
    font-size: 1.125rem;
    color: #000000;
    transition: color 300ms ease-in-out;
    font-weight: 400; }
    /* line 121, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header__links a:not(:last-child) {
      margin-right: 20px; }
    /* line 125, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header__links a::before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: -30px;
      background: linear-gradient(to right, #2D6D93, #5DBD7E);
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
    /* line 137, c:/programming/work/khieer/khieer_/static/scss/header.scss */
    .header__links a:hover {
      color: #2D6D93; }
      /* line 140, c:/programming/work/khieer/khieer_/static/scss/header.scss */
      .header__links a:hover::before {
        opacity: 1; }
