{% load static %}

 <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-4 col-sm-2 ">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                        <li class="dropdown">
                                <i class="fa fa-user dropdown-toggle" data-toggle="dropdown"></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-text">
                                                <a href="{% url 'user-profile-dash' %}" class="body-font">{{ request.user.first_name }} {{ request.user.last_name }}                                                <i class="fa fa-user"></i>
</a>
                                            </div>
                                        </a>
                                        <a href="{% url 'logout' %}" class="notify-item">
                                            <div class="notify-thumb">
                                                <span class="fa fa-power-off"></span>
                                            </div>
                                            <div class="notify-text">
                                               <p  class="body-font"> الخروج</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>                        </ul>
                    </div>
                </div>
            </div>