{% load static %}
    <footer class="footer">
            <div class="container">

                <a class="footer__logo">
                    <img src="{% static 'images/logos/logo.png' %}"/>
                </a>

                         <div class="footer__social">
                    <a href="#">
                        <i aria-hidden="false" class="fa fa-facebook"></i>

                    </a>
                    <a href="#">
                        <i aria-hidden="false" class="fa fa-youtube"></i>

                    </a>
                    <a href="https://twitter.com/ksakhair?s=11">
                        <i aria-hidden="false" class="fa fa-twitter"></i>

                    </a>
                    <a href="#">
                        <i aria-hidden="false" class="fa fa-pinterest"></i>

                    </a>
                    <a href="https://www.instagram.com/ksakhair/">
                        <i aria-hidden="false" class="fa fa-instagram"></i>
                    </a>
                </div>



                <div class="footer__links">
                          <a href="#">عن المؤسسة</a>
                    <a href="#">إتصل بنا</a>
                    <a href="#">المدونة</a>
                     <a href="#">الدعم الفنى</a>
                    <a href="#">الشروط و الأحكام</a>
                </div>

                <div class="footer__cta">
                     <a class="twitter-timeline" data-width="350" data-height="250" data-dnt="false"
                   href="https://twitter.com/KSAKhair?ref_src=twsrc%5Etfw">Tweets by KSAKhair</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="footer__copyright">
                    جميع الحقوق محفوظة &copy;خير السعودية
                </div>

            </div>
        </footer>