<div class="navbar">
                <div class="search_div">
                    <form>
                      {% csrf_token %}
<i class="fa fa-search" id="search-icon"></i>
                        <input id="search-bar" type="text" placeholder="إبحث"  name="search-bar"/>

                    </form>
                </div>
<div class="head-nav">
                    <nav>

                    <div class="container_nav">
                        <ul>
                            <li><a href="#"/>الخدمات الألكترونية</a></li>
                            <li><a href="#"/>إتصل بنا</a></li>

                        </ul>
                    </div>

                </nav>

</div>
            </div>

<script>
    $(() => {
        $("#search-bar").hide()
        $("#search-icon").on('click' , (event) => {
            event.preventDefault();
            $("#search-bar").show();

        });
           $("#search-icon").on('blur' , (event) => {
               event.preventDefault();
            $("#search-bar").hide();
        });
    });
</script>

