{% load static %}
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{% url 'home-page' %}"><img src="{% static 'images/logos/logo.png' %}"  class="logo_ico"  alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    {% if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 3 %}
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><span
                                class="body-font">خير السعوديه</span></a>
                        <ul class="collapse">
                            <li><a class="body-font" href="{% url 'home-page' %}">الرئيسيه</a></li>

                            <li class="body-font"><a class="body-font" href="{% url 'register-employee' %}">إضافة مشرف أساسى
                                    </a>
                            </li>
                           <li class="body-font"><a class="body-font" href="{% url 'register-trainer' %}">
                                    إضافة مدرب</a> </li>

                            <li class="body-font"><a class="body-font"  href="{% url 'register-helper' %}">
                                    إضافة مشرف متعاون</a>
                            </li>


{#                            <li class="body-font"><a class="body-font" href="{% url 'add-needycase' %}">تجهيز حاله#}
{#                                    للعرض</a>#}
{#                            </li>#}
                        </ul>
                    </li>
{#                    <li>#}
{#                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span#}
{#                                class="body-font ">#}
{#                                أدوات التحكم#}
{#                            </span></a>#}
{#                        <ul class="collapse">#}
{#                            <li><a href="{% url 'create-needy' %}" class="body-font">إضافة مستفيد</a></li>#}
{#                                                        <li><a href="{% url 'create-depend' %}" class="body-font">إضافة إبن مستفيد</a></li>#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'add-found' %}">إضافة جمعيه</a>#}
{#                            </li>#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'add-provider' %}">إضافة#}
{#                                    راعى</a> </li>#}
{#                                                        <li><a href="{% url 'add-bag-cer' %}" class="body-font">إضافة شهادة للحقيبة </a></li>#}
{##}
{#                            <li><a href="{% url 'add-bag' %}" class="body-font">إضافة حقيبة دراسيه </a></li>#}
{#                            <li><a href="{% url 'add-vol-cer' %}" class="body-font">إضافة شهادة متطوع </a></li>#}
{#                            <li><a href="{% url 'pay-ticket' %}" class="body-font">إضافة سند صرف </a></li>#}
{##}
{#                            <li><a href="{% url 'search-needy-dash' %}" class="body-font">البحث </a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span#}
{#                                class="body-font">المستخدمين</span></a>#}
{#                        <ul class="collapse">#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'register' %}">انشاء مشرف جمعيه#}
{#                                    رئيسيه </a>#}
{#                            </li>#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'register-employee' %}">انشاء#}
{#                                    مشرف جمعيه تنمويه </a>#}
{#                            </li>#}
{#                             <li class="body-font">#}
{#                             <a class="body-font" href="{% url 'register-trainer' %}">#}
{#                                 انشاء#}
{#                                    مدرب  </a>#}
{#                            </li>#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'register-helper' %}">انشاء#}
{#                                    مشرف متعاون </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}

{#                    <li>#}
{#                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span#}
{#                                class="body-font">التقارير</span></a>#}
{#                        <ul class="collapse">#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'reports' %}">التقارير </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                         <li>#}
{#                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span#}
{#                                class="body-font">الدائره الخضراء</span></a>#}
{#                        <ul class="collapse">#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'add-green-participant' %}">اضافة مشارك </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span#}
{#                                class="body-font">التمكين</span></a>#}
{#                        <ul class="collapse">#}
{#                            <li class="body-font"><a class="body-font" href="{% url 'add-tamkeen' %}">اصافة مستفيد#}
{#                                    للتمكين </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>