$green_kheer: #5DBD7E;
$blue_kheer: #2D6D93;
$black_kheer: #000000;
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

$font-family : 'Almarai', sans-serif;