{% extends 'main.html' %}
{%  load static %}
{% block title %}   الشكاوى و الأستفسارات {% endblock title %}






{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/contact-us.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="body-font h5 body-font " style="color: #5DBD7E"> خير السعودية</span>
              <h1 class="mb-3 font-weight-bold body-font" style="font-size: 30px;"> الشكاوى و الأستفسارات </h1>
              <p class="body-font"><a href="{% url 'home-page' %}" class="text-white">الرئيسية</a> <span class="mx-3">/</span> <strong> الشكاوى و الأستفسارات</strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="site-section " id="login_section">
    <div class="row" >
          <div class="col-lg-8 center">
                <div class="justify-content-center">
                <center>  <h3 class="body-font text-green head-size" > تواصل معنا</h3> </center>
                    <hr/>
                </div>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-6 mb-4 mb-lg-0">
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="الأسم">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="phone" id="phone" class="form-control"
                                   placeholder="رقم الجوال">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" name="address" id="address"
                                   class="form-control"
                                   placeholder="عنوان الرسالة">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" name="message" id="message"
                                   class="form-control"
                                   placeholder="الرساله">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-12" id="btn add">
                          <center>      <button type="submit" id="btn_add"
                                        class="btn btn-teal btn-custom-1 body-font text-white"> إرسال
                                </button></center>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
    </div>
    </div>

{% endblock content %}


{% block javascript %}
    <script>
    $(() => {
               $("#btn_add").on('click',event => {
           event.preventDefault();
                           $.ajax({
                    method: 'POST',
                    url: '{% url 'create-contact' %}',
                    data: {
                        'name': $('#name').val(),
                        'message': $('#message').val(),
                        'address': $('#address').val(),
                        'phone': $('#phone').val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'home-page' %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });


        });

    });
        </script>

{% endblock javascript %}