{% extends 'main.html' %}
{% load static %}

{% block title %}برامج التأثير الاجتماعي
{% endblock title %}

{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" style="background-image: url('../../../static/images/ta2ser.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="body-font h5 " style="color: #5DBD7E"> خير السعودية</span>
              <h1 class="mb-3 font-weight-bold body-font" style="font-size: 30px;">برامج التأثير الاجتماعي     </h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسية</a> <span class="mx-3">/</span> <strong>برامج التأثير الاجتماعي </strong></p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/amani.png' %}"  alt="Image" class="img-fluid effect_page">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="body-font h5 text-green head-size">برنامج العطاء  </span>
            <p class="body-font text-black " style="font-size: 20px; width:auto; height:auto;"><span>
برنامج العطاء : هو برنامج توعوي يهدف إلى نشر ثقافة العطاء والتأثير في الحياة
البرنامج على اليوتيوب 

<center>
    <a class="btn btn-teal text-white" href="https://www.youtube.com/channel/UCbQ2vXRjCGOTp6o50NMAeZA">إضغط هنا
    </a>
</center>

</span></p>

          </div>
        </div>
                  <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/baramg1.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="body-font h5 text-green head-size">      برنامج خير السعودية بناسها</span>
            <p class="body-font text-black " style="font-size: 20px; height:auto;width:auto;"><span>


 هو برنامج حواري مُلهِم لبذل الخير يسلط الضوء على شخصيات ساهمت وأثرت في العمل الإنساني
لزيارة البرنامج على اليوتيوب 
<center>
    <a class="btn btn-teal text-white" href=" https://www.youtube.com/channel/UCbQ2vXRjCGOTp6o50NMAeZAA">اضغط هنا</a>
</center>

</span></p>

          </div>
        </div>



      </div>
    </div>




{% endblock content %}