{% extends 'main.html' %}
{% load static %}

{% block title %}الخصوصية و الأحكام
{% endblock title %}

{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" style="background-image: url('../../../static/images/ethics.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="body-font h5 " style="color: #5DBD7E"> خير السعودية</span>
              <h1 class="mb-3 font-weight-bold body-font" style="font-size:29px;">الخصوصية و الأحكام    </h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسية</a> <span class="mx-3">/</span> <strong>الخصوصية و الأحكام   </strong></p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
              <div class="row mb-5">
    <div class="col-12 text-center">
    <span class="text-cursive h5 text-red d-block head-size">سياسة الخصوصية والاسترداد والشروط والأحكام</span>
    <h3 class="body-font text-green">تحرص جمعية خير السعودية الخيرية على حفظ خصوصية روادها من زوار وفاعلين خير ومستفيدين، فنحن ملتزمون بجميع القوانين التي تضبط العمل داخل الفضاء الرقمي انطلاقا من نفس مبادئ الجمعية

</h3>
    </div>
    </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <img src="{% static 'images/h1_hero.png' %}"  alt="Image" class="img-fluid effect_page">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="body-font h5 text-green head-size">المقصود بسياسة الخصوصية
 </span>
              <hr/>
            <p class="body-font text-black "><span>
تمثل سياسة الخصوصية نوعا من التعاقد الضمني بين موقع الجمعية وجميع روادها من زوار وفاعلين خير ومستفيدين، ونعمل من خلال البنود الواردة فيها على توضيح كافة البيانات التي يتم جمعها منهم آليا أو إراديا، كما نبرز الأسباب التي تدفعنا لجمعها والمجالات التي نستخدمها فيها.

من هذا المنطلق نعتبر استعمال الموقع، موافقة ضمنية على ما سيرد ضمن هذه السياسة، كما نشير إلى أن إشعار سيتم تثبيته في صفحاتنا عن كل تغيير قد يطرأ على هذه السياسة جزئيا أو كليا.

</span></p>

          </div>
        </div>
           <div class="row mb-4">
          <div class="col-md-6">
            <img src="{% static 'images/kid_transparent.png' %}"  alt="Image" class="img-fluid effect_page">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="body-font h5 text-green head-size">حماية معلوماتكم الشخصية
 </span>
              <hr/>

            <p class="body-font text-black " ><span>
نحن على علم بمدى أهمية المعلومات الشخصية لزوارنا والمستخدمين الكرام ، كما ندرك تمام الإدراك مدى التحديات التي تقف في وجه سلامة التعاملات داخل الانترنت، لهذا نبذل جهودا كبيرة لحماية هذه المعلومات ، وذلك عبر اعتماد أقصى درجات الأمان للموقع من اخطار الهجمات الالكترونية


</span></p>

          </div>
        </div>
                  <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/faq.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="body-font h5 text-green head-size">    الشروط و الأحكام:
</span>
              <hr/>

            <p class="body-font text-black " ><span>
بدخولك إلى الموقع فأنت توافق على الإلتزام بهذه الشروط، وعلى جميع القوانين واللوائح المعمول بها، وتقر كذلك بأنك مسئول عن الإمتثال لأي قوانين محلية سارية .

إذا كنت لا توافق على أي من هذه الشروط، فلا يحق لك استخدام أو الدخول إلى هذا الموقع. نحن نحتفظ بالحق في تعديل هذه الشروط والأحكام في أي وقت دون سابق إنذار لك. وتسري أي تعديلات على هذه الشروط والأحكام بمجرد نشرها على موقعنا الإلكتروني.

تشكل هذه الشروط والأحكام كامل الاتفاق القانوني بينك وبين جمعية الدعوة والارشاد وتوعية الجاليات بمحافظة ينبع

إذا ثبت أن أي نص من نصوص هذه الشروط والأحكام غير قانوني أو غير قابل للتنفيذ، لا تتأثر الشروط والأحكام الأخرى وتظل نافذة وسارية المفعول تماماً.

تخضع هذه الشروط والأحكام لقوانين المملكة العربية السعودية، وتخضع جميع المنازعات التي تنشأ عن إنفاذ هذه الأحكام والشروط للاختصاص القضائي الحصري للمحاكم السعودية.

التغييرات على هذه السياسة

 تُنشَر أي تغييرات و/أو تعديلات نقوم بإجرائها على سياسة الخصوصية هذه مستقبلاً على الموقع الإلكتروني، وسيتم إبلاغك بها حيثما يكون ذلك ملائماً، ونوصيك بالرجوع إلى هذه الصفحة بانتظام للاطلاع على أحدث نسخة لسياسة الخصوصية. وبالمداومة على استعمال الموقع الإلكتروني، فإنك تُعتبَر بذلك موافقاً على سياسة الخصوصية هذه.

قبول الشروط والاحكام:

تعد الموافقة على الطلب بمثابة موافقة نهائيه غير مشروطه من العميل على جميع الشروط والأحكام</span></p>

          </div>
        </div>



      </div>
    </div>




{% endblock content %}