{% extends 'dashmain.html' %}


{% block title %}  التقارير  {% endblock title %}

{% block body %}
<div class="main-content-inner">
<div class="container">
     <div class="row center">
                  <div class="col-12 center">
               <center>
                        <h2 class="body-font text-blue"  style="font-size: 35px; font-weight: bold;">التقارير</h2>
                 <hr/>
                    <p class="body-font text-green" style="font-size: 25px"> خير السعودية
                    </p>
                   </center>
                  </div>
            </div>
                            <div class="row">
                    <div class="col-lg-8 bg-home center">
            <div class="card" style="background-color: #f4f4f4">
                <div class="card-body">

                            <a class="btn btn-teal body-font text-white" href="{% url 'vol-report' %}"> المتطوعين  </a>
             <br/>
                                        <hr/>
                                     <a class="btn btn-teal body-font text-white" href="{% url 'course-report' %}"> الحقائب الخضراء  </a>
             <br/>
                                        <hr/>

                                         <a class="btn btn-teal body-font text-white" href="{% url 'heba-report' %}"> هبات الخير  </a>
             <br/>
                                        <hr/>



                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock body %}