{% extends 'dashmain.html' %}


{% block title %}  قائمة المشاكل {% endblock title %}

{% block body %}
<div class="main-content-inner">
<div class="container">
<div class="row">
        {% for problem in problems %}
<div class="col-4">
<div class="card">
    <div class="card-body">
        <h5 class="body-font text-green">{{ problem.name }}</h5>
        {% if problem.user_type == 2 %}
        <h6 class="body-font text-blue">فاعل خير </h6>
        {% endif %}
      {% if problem.user_type == 1 %}
        <h6 class="body-font text-blue">مشرف </h6>
        {% endif %}
      {% if problem.user_type == 3 %}
        <h6 class="body-font text-blue">مستفيد </h6>
        {% endif %}
        <p class="body-font">{{ problem.message }}</p>
    </div>
</div>
</div>

    {% endfor %}
</div>
</div>
</div>

{% endblock body %}