{% extends 'main.html' %}
{% load static %}

{% block title %}  هبة الخير || خير السعوديه {% endblock title %}


{% block content %}
    <div class="ftco-blocks-cover-1">
        <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
             style="background-image: url('../../../static/images/heba_kheer.png')">
            <div class="container">
                <div class="row align-items-center ">

                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعودية</span>
                        <h1 class="mb-3 font-weight-bold body-font">هبة الخير</h1>
                        <p><a href="{% url 'home-page' %}" class="text-white">الرئيسية</a> <span class="mx-3">/</span>
                            <strong>هبة الخير </strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
 <div class="row col-10 justify-content-center">
        <div class="center">
             <img src="{% static 'images/holy.png' %}" class="img-fluid" style="  margin-left: -100px;  height: 400px;
    width: 800px;
    background-position: center;
    object-fit: contain;">
</div>
     </div>
            <div class="row">
                <div class="col-md-12">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-6 mb-4 mb-lg-0">
                                <input type="text" name="name" id="name" class="form-control"
                                       placeholder="الأسم">
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="phone" id="phone" class="form-control"
                                       placeholder="رقم الجوال">

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="text" name="address" id="address"
                                       class="form-control"
                                       placeholder="العنوان">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="number" name="national_id" id="national_id"
                                       class="form-control"
                                       placeholder="رقم الهويه">
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="ammount" id="ammount"
                                       class="form-control"
                                       placeholder="قيمة المساهمه">
                            </div>

                        </div>
                        <hr/>
<button type="button" class="btn btn-teal body-font btn-lg text-white" data-toggle="modal" data-target="#myModal">الشروط و الأحكام</button>
                        <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title body-font text-green head-size"> الأقرار على الهبة</h4>
      </div>
      <div class="modal-body body-font ml-auto">
        <p class="body-font">
            يسرنا في وقف خير السعودية التابع لمؤسسة بلد الخير الوقفية ، أن نشكر لك جهودك الدائمة في خدمة ذوي الحاجة ..
كما نشكر لكم رغبتكم في وقف مبلغ المدخل ، والذي سيتم تخصيص ٣٠٪؜ منه لأعمال خير السعودية و ٧٠ ٪؜ لأعمال الخير بناء على مانص عليه صك الوقفيةلخير السعودية ، لذلك نأمل منك مشكور الموافقة على الإقرار بضغط على الزر ادناه ،

سائلين المولى عز وجل لكم مزيداً من الخير و العطاء وأن يكتب هذا الدعم في ميزان أعمالكم .

تقبلوا تحياتنا ،،
فريق خير السعودية .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-teal body-font text-white" data-dismiss="modal">إغلاق</button>
      </div>
    </div>

  </div>
</div>
                        <hr/>

    <div class="form-group row">
        <div class="col-12">
            <label class="body-font" for="cond">الموافقه على ما سبق</label>
        <input type="checkbox" id="cond" name="cond" value="True">
        </div>
    </div>
                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-md-12" id="btn add">
                                    <center>
                                        <button type="submit" id="btn_heba"
                                                class="btn btn-teal btn-custom-1 body-font text-white"> إرسال
                                        </button>
                                    </center>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>

            </div>
         <div class="row">
                <div class="col-md-12">
                    <div class="border-top pt-5 center">
                      <center>  <p class="body-font text-green"> طرق الدفع الألكترونى</p></center>
                        <center>
                            <img width="50" height="50" src="{% static 'images/mada.svg' %}" alt="logo"/>
                            <i class="fa fa-paypal fa-lg text-black" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard fa-lg text-black" aria-hidden="true"></i>
                            <i class="fa fa-cc-visa fa-lg text-black" aria-hidden="true"></i>
                        </center>


                    </div>

                </div>
            </div>
        </div>
    </div>





{% endblock content %}



{% block javascript %}
    <script>
        $(() => {

            $("#btn_heba").on('click', event => {

   if ($("input[type=checkbox]").prop(
                      ":checked"))  {
        event.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'heba-kheer' %}',
                    data: {
                        'name': $('#name').val(),
                        'national_id': $('#national_id').val(),
                        'address': $('#address').val(),
                        'phone': $('#phone').val(),
                        'ammount': $('#ammount').val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'home-page' %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });
    }else {
        event.preventDefault();
         swal({
                                title: "خطا",
                                text: "من فضلك اضغط على التأكيد",
                                icon: "error",
                                button: "إغلاق",
                            });
    }


            });
        });
    </script>
{% endblock javascript %}
